@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-image: url('image/itm.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body>
<div class="text-center">
    <h1 style="text-align:center;color:#33EEFF;">Bienvenidos Alumnos Universidad ITM</h1>
</div>
<div class="text-center">
    <p style="font-size:14px; text-align:center;background-color:#FFFAF0;">Acerca del proyecto <a style="font-size:14px; text-align:center;background-color:#FFFAF0;"href="https://github.com/sanrulo1030/Ejercicio">Descarga el Proyecto desde GitHub<i class="bi bi-github"></i>.</a></p>
</div>
</body>
